REQ-ID:001
Description: The product shall accept a patient identifier, scheduling date and time (possible a range), therapist name
Type: Functional
Rationale: To be able to uniquely identify every patient.
To be able to find and book an available slot, the product needs as an input an approximative date for next appointment.
To be able to find a therapist free slot within a session.
Originator: Carol, Office Manager 
Comments:[Mohammed Ngum]

REQ-ID:002
Description: The product shall determine the free appointment slots for a therapist.
Type: Functional
Rationale: To be able to offer appointment slots to see a therapist.
Originator: Carol, Office Manager
Comments:[Mohammed Ngum]

REQ-ID: 007
Description: The system shall allow the selection of payment type and have the capability to accept payment for the completed treatment and then allow for recording that treatment has been paid for when the patient pays the receptionist directly.
Type: Functional 
Rationale: As part of the processing of the completed treatment record, the payment method needs selected from predefined options of patient payment and invoice to health insurer
Originator: James Birkley

REQ-ID: 008
Description: The system shall allow the input of data from a treatment record
Type: Functional
Rationale: To be able to enter all of the patients treatment information from a completed treatment record into the system.
Originator: James Birkley

REQ-ID: 009
Description: The product shall provide a role based access mechanism
Type: Functional
Rationale: This is as not all users can make add/modify bookings, so there must be a level of permissions to the system (at least one level for making/changing appointments and another for viewing bookings only). 
Originator: Joseph Souter

REQ-ID: 010
Description: The system must track the number of times a patient fails to attend an appointment and show a comparison of no-show statistics between two requested time periods
Type: Functional
Rationale: This is so the Clinic can track repeat offenders and so first time offenders are not charged for missing their first appointment and allow the clinic to analyse the effect different approaches to reducing no-shows had on the no-show percentage.
Originator: Joseph Souter

REQ-ID: 016
Description: The system shall accept the time interval (in days, weeks or months) before the next appointment
Type: Functional, business requirement
Rationale: The patient's next appointment should follow an interval advised by the therapist; the system could calculate the date that follows this interval rather than relying on the receptionist to consult a calendar and input the date
Originator: Carol, office manager
Comments: Steven Malley

REQ-ID: 018
Type: Functional
Description: The product shall record the patients next appointment
Rationale: To be able to keep an up-to-date appointments list
Originator: receptionists (Emily, Dawn and Sally) and the office manager (Carol)
Comments: Emma Hastings

REQ-ID: 020
Type: Functional
Description: The system shall allow time periods for availability of therapists to be customised
Rationale: The system should allow annual leave, sickness, working from another clinic, or other period of absence to be recorded so only valid appointments are presented to the patient.
Originator: Iain Sproat

REQ-ID:	023
Description: The product shall inform the accounts systems that an treatment has been completed
Type: functional
Rationale: Interface with adjacent system to facillitate an automated and more convenient invoicing process
Originator: David
Comments: Prem Bhatkar

REQ-ID: 024
Description: the product shall generate artefacts containing the appointment details
Type: functional
Rationale:  enhancement to providing appointemnt card. text message, email etc confirming appointment created.
Originator: Carol
Comments: Prem Bhatkar

REQ-ID: 030
Description: The system should store additional entries and amendments to existing entries in chronological order.
Type: Functional
Rationale: Improves traceability of what has happened with the patient as a history of their events exists. 
Originator: David Jones
Comments: Christopher Kingsland-Roberts

REQ-ID:033
Description:The system shall determine the free appointment slots
Type:Functional 
Rationale:To be able to find a free appointment slot to book a new appointment
Originator:Receptionist
Comment : Lisa Li

