REQ-ID: 001
Description: The system shall have the capability to search for available appointments using specific parameters
Type: Functional
Rationale: Allow the user to quickly find the next suitable appointment for the patient. 
Originator: Gerard Corrigan

REQ-ID: 002
Description: The system shall have the capability to accept payment for the completed treatment 
Type: Functional
Rationale: The business needs to receive payment for completed treatments.
Originator: Gerard Corrigan

REQ-ID: 003
Description: The system should be able to uniquely identify all users and patients
Type: Functional
Rationale: Maintains system credibility as it data integrity is maintained between patients, eliminates patients being added multiple times and adds accountability for the data entry staff.
Originator: David Jones
Comments: Christopher Kingsland-Roberts

REQ-ID: 004
Type: Functional
Description: The product shall record the patients next appointment
Rationale: To be able to keep an up-to-date appointments list
Originator: receptionists (Emily, Dawn and Sally) and the office manager (Carol)
Comments: Emma Hastings

REQ-ID: 005
Description: The system must track rota information for therapists including holiday scheduling.  
Type: Functional
Rationale: This data is required within the system to allow scheduling of appointments only when the therapists are available 
Originator: Carol, Office Manager
Comments: Dan Page

REQ-ID: 006
Description: The system shall has an access rights to make or change appointments.
Type: Functional
Rationale: This will give the authority to receptionists and Carol (Office manager) to update the appointment data.
Originator: Carol, office manager
Comments: Shunsuke Yanome

REQ-ID:	007
Description: The product shall inform the accounts systems that an treatment has been completed
Type: functional
Rationale: Interface with adjacent system to facillitate an automated and more convenient invoicing process
Originator: David
Comments: Prem Bhatkar

REQ-ID: 008
Description: the product shall generate artefacts containing the appointment details
Type: functional
Rationale:  enhancement to providing appointemnt card. text message, email etc confirming appointment created.
Originator: Carol
Comments: Prem Bhatkar